# Loop for

In [3]:
# criando uma tupla e imprimindo cada um dos valores
tp = (10, 11, 12, 14)
for i in tp:
    print (i)

10
11
12
14

In [5]:
# criando uma lista e imprimindo cada um dos valores
ls = ["Chocolate", "Pastel", "Maizena", "Bacalhau"]
for i in ls:
    print (i)

Chocolate
Pastel
Maizena
Bacalhau

In [14]:
# criando valores no intervalo em 0 e 10 (exclusive)
for numeros in range (0, 10):
    print(numeros)

0
1
2
3
4
5
6
7
8
9

In [16]:
#criando uma string em sequencia
for caracter in "Python é uma linguagem de programação":
    print (caracter)

P
y
t
h
o
n

é

u
m
a

l
i
n
g
u
a
g
e
m

d
e

p
r
o
g
r
a
m
a
ç
ã
o

# Loops aninhados

In [19]:
# Loops aninhados
for i in range(0, 5):
    for a in range(0, 5):
        print(a)

0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4